{% extends 'base.html' %}
{% block body %} 
    <div id="founders">
      <section>
        <h1>Programadores Web</h1>
        <ul>
          <li>Quispe Huacho Robert</li>
          <li>Hincho Jove Angel</li>
          <li>Neira Carrasco Darwin</li>
        </ul>
      </section>
    </div> 
    <div id="desc">
      <section>
        <h1>Descripcion de ServiciosYA</h1>
        <p>ServiciosYA es una aplicacion intermediaria entre personas que 
          necesitan servicios domesticos y generales con profesionales
          expertos en el area.
        </p>
        <h1>Servicios Registrados</h1>
        <ul>
          <li>Gasfiteria</li>
          <li>Electronica</li>
          <li>Veterinaria</li>
          <li>Etc.</li>
        </ul>
      </section>
    </div>
    <a href = "http://localhost:4200/">Servidor Angular</a>
{% endblock %}
